
.skills-description {
margin-bottom: 50px;
width: 1250px;
}

.skills-description h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.skills-description p{
  font-size: var(--normal-font-size);
}


.work-exp {
    max-width: 100%;
}

.work-exp .work-exp-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.work-exp .experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    min-width: 320px;
    width: 32%;
    padding: 35px;
    transition: 0.3s linear;
}

.upper h3 {
  font-size: 22px;
  font-weight: 700;
}

.upper h5 {
  font-weight: 500;
  font-style: italic;
  font-size: var(--small-font-size);
}
.upper span {
    color: var(--third-color)
}

.experience-card .hr {
    width: 100%;
    height: 2px;
    margin: 10px 0 22px;
    background: var(--liner-color);
}

.experience-card p {
    margin-top: 22px;
}

.experience-card:hover
.education-list .item:hover
.bar:hover {
    transform: scale(1.03);
    cursor: pointer;
} 