.footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 20px;
    background: var(--second-color);
    color: #fff;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-group h2 {
    font-size: 35px;
    font-weight: 600;
    opacity: .8;
    background: linear-gradient(to top, transparent 0%, #fff 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-group p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-bottom: 30px;
}

.info-group,
.follow-group {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-group h3,
.follow-group h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.info-group ul,
.follow-group ul {
    display: flex;
    gap: 30px;
}

.info-group li {
    cursor: pointer;
}

.info-group a {
    text-transform: uppercase;
    padding: 10px;

}

.follow-group a {
    font-size: 24px;
    padding: 10px;
}

.footer-copyright {
    font-size: var(--normal-font-size);
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    padding: 0 15px;
}